* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    text-align: center;
    padding-top: 15px;
}

header {
    background-color: gray;
    grid-area: 1/1/2/3;
}

.content {
    background-color: bisque;
    grid-area: 2/1/3/2;
}

.more {
    max-height: 80%;

    text-align: center;
    padding-top: 15px;
}

.title_down {
    grid-area: 1/1/2/3;
    padding-top: 15px;
}

.more1 {
    grid-area: 2/1/3/2;
    background-color: orange;
    width: 92%;
    
}

.more2 {
    grid-area: 2/2/3/3;
    background-color: orange;
    width: 92%;
}

.more3 {
    grid-area: 3/1/4/3;
    background-color: orange;
    width: 96%;
}

.sidebar {
    background-color: lightgreen;
    grid-area: 2/2/3/3;
    text-align: center;
    padding-top: 20px;
}


@media screen and  (min-width: 1024px) 
{ .wrapper {
    display: grid;
    grid-auto-columns: 65vw 30vw;
    grid-template-rows: 15vh 70vh 30vh;

}
    footer {
        background-color: gray;
    
        grid-area: 3/1/4/3;
    
    }
    .footer {
        display: grid;
        grid-template-rows: 30vh;
        grid-template-columns: 25% 25% 25% 25%;
        justify-items: center;
        align-items: center;
    }
    .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 31vh 17vh 17vh;
        justify-items: center;
        gap: 10px;
    
    }
        .Box1,
        .Box2,
        .Box3,
        .Box4 {
            width: 90%;
            height: 70%;
            text-align: center;
            box-sizing: border-box;
            padding-top: 30px;
            background-color: white;
    }
    
}

@media screen and (min-width:768px) and (max-width:1023px) {

    .wrapper {
        display: grid;
        grid-auto-columns: 65vw 30vw;
        grid-template-rows: 15vh 70vh 30vh;
    
    }
    .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat (4, 25%);
        justify-items: center;
        gap: 10px;
        height: 100%;
    
    }
    .more1 {
        grid-area: 2/1/3/3;
        background-color: orange;
        width: 96%;
        height: 15vh;
        align-self: center;
    }
    
    .more2 {
        grid-area: 3/1/4/3;
        background-color: orange;
        width: 96%;
        height: 15vh;
    }
    
    .more3 {
        grid-area: 4/1/5/3;
        background-color: orange;
        width: 96%;
        height: 15vh;
    }
    footer {
        display: none;
    }
}
@media screen and (max-width: 767px)
{
    .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat (4, 25%);
        justify-items: center;
        gap: 10px;
        height: 100%;
    
    }
    .more1 {
        grid-area: 1/1/2/3;
        background-color: orange;
        width: 96%;
        height: 10vh;
        align-self: center;
    }
    
    .more2 {
        grid-area: 2/1/3/3;
        background-color: orange;

        width: 96%;
        height: 10vh;
    }
    
    .more3 {
        grid-area: 3/1/4/3;
        background-color: orange;
        width: 96%;
        height: 10vh;
    }
    footer {
        display: none;
    }

    .sidebar {
        height: 15vh;
    }
    .title {
        height: 15vh;
    }
}